USE [master]
GO
/****** Object:  Database [TravelBuddy]    Script Date: 22-02-2026 02:24:47 ******/
CREATE DATABASE [TravelBuddy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TravelBuddy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\TravelBuddy.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TravelBuddy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\TravelBuddy_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TravelBuddy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TravelBuddy]
GO
/****** Object:  Table [dbo].[Community]    Script Date: 22-02-2026 02:24:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Community](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[cname] [varchar](100) NOT NULL,
	[cpassword] [varchar](100) NOT NULL,
	[cimage] [varbinary](max) NULL,
	[cemail] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[registerCommunity]    Script Date: 22-02-2026 02:24:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[registerCommunity]
@cname varchar(100),
@cpassword varchar(100),
@cimage varbinary(max),
@cemail varchar(100)
as 
begin
	if exists(select * from Community where @cemail=cemail and @cname=cname)
	begin
		select -1;
	end
	else
	begin
		insert into Community values(@cname,@cpassword,@cimage,@cemail)
		select 1;
	end
end
GO
USE [master]
GO
